  <%= form_for(@document) do |f| %>
    <% if @document.errors.any? %>
      <div class="alert alert-danger" role="alert"> 
        <h3><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h3>
        <ul>        
          <% @document.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-group">
      Document Name: <%= f.text_field :name, placeholder: "Name of the Document",
                          class: "form-control"  %>
      </div>  
    
    <br/>

    <div class="form-group">
      Document Type: 
        <%= f.select(:document_type,  [['Student Handbook', 'Student Handbook'], 
                                ['Orientation Schedule', 'Orientation Schedule'],
                                ['Fee Schedule', 'Fee Schedule'],
                                ['Important Details', 'Important Details']],
                                { selected: @document_type}, 
                                {class: "btn btn-default dropdown-toggle", :'data-toggle' => 'dropdown'}) %>
    </div>

    <br/>

    <div class="form-group">
      <div class = "btn-group">
        Upload Document: <%= f.file_field :document_url, accept: ".pdf" %>
      </div>
    </div>

    <br/>
    
    <div class="form-group">
      Intake Code: <%= f.text_field :intake_code, placeholder: "Intake Code of Students Viewing the Document", 
                        class: "form-control"  %>
    </div>

    <br/>
    
    <div class="form-group">
        <div class="btn-group", role="button">
          <%= f.submit "Add Document", class: "btn btn-info btn-md" %>
    </div>
  <% end %>
