<h1>Listing Documents</h1>

<table>
  <thead>
    <tr>
      <th>Document ID</th>
      <th>Document Name</th>
      <th>Document Type</th>
      <th>Document URL</th>
      <th>Date Added</th>
      <th>Last Modified</th>
      <th>Document Status</th>
      <th colspan="3">Document Action</th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |d| %>
      <tr>
        <td><%= d.id %></td>
        <td><%= d.name %></td>
        <td><%= d.document_type %></td>
        <td><%= d.document_url %></td>
        <td><%= d.created_at %></td>
        <td><%= d.updated_at %></td>
        <td>
          <% if d.visible_status == true %>
            <%= "Visible" %>
          <% else %>
            <%= "Hidden" %>
          <% end %>
        </td>
        <td><%= link_to 'Show', d %></td>
        <td><%= link_to 'Edit', edit_document_path(d) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %> |
<%= link_to "Back", admins_menu_path %>
