<div class="text-center">
  <div class="col-md-5">
  </div>
  <div class="col-md-7" style="text-align:left">
    <h2>Log in</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-md-5" style="text-align:right">
      <%= f.label :email %>
    </div>
    <div class="col-md-5" style="text-align:left">
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="col-md-5" style="text-align:right">
      <%= f.label :password %>
    </div>
    <div class="col-md-7" style="text-align:left">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="col-md-5" style="text-align:left">
    </div>
    <div class="col-md-7" style="text-align:left">
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions">
          <div class="submit">
          <%= f.submit "Log in" %>
        </div>
        <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
</div>